DEBUG=True
SECRET_KEY=change-me
DB_NAME=your-db-name
DB_USER=postgres
DB_PASSWORD=my-password
DB_HOST=localhost
DB_PORT=5432

GROQ_API_KEY=your-groq-api-key
GEMINI_API_KEY=your-gemini-api-key
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1